tensorflow==2.7.0
keras==2.7.0
torch==1.9.1
torchvision==0.10.1
pandas==1.4.2
numpy==1.19.5
opencv_python==4.5.3.56
matplotlib==3.4.3
plotly==5.8.0
seaborn==0.11.2
scikit_learn==1.1.1
umap_learn==0.5.3
